/* side bar style */
.sidebar-list {
  font-size: 24px;
  text-align: left;
  margin-top: 15px;
  margin-left: 16px;
  line-height: 56px;
}

.sidebar-list i {
  text-align: left;
  margin-right: 4px;
}
.sidebar-img {
  padding-left: 15px;
  padding-top: 20px;
}
.sidebar-btn {
  color: black;
  margin-right: 5px;
}
.search-btn {
  background: transparent;
  border: none;
}
/* Navbar style */
.navbar-content {
  display: flex ;
  gap: 40px;
  margin-top: 15px;
  color: black;
  margin-left: 10px;
}
.button {
  border: none;
}
.balance{
  margin-left: 60px;
  
}
.add-money-btn {
  background: #B9E9FF;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 120px;
  
}
.more-btn {
  background: #B9E9FF;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 60px;
  margin-left: 6px;
  margin-right: 25px;
}
.members {
  margin-left: 50px;
}
.notification-btn {
 font-size: 36px;
}
.user-info {
  font-size: 36px;
 }

/* box style */
.card {
  margin-top: 12px;
}
.card-body {
  font-size: 18px;
}
.categories-card {
  width: 125px;
  margin-right: 20px;
  font-size: 10px;
}

 /* footer style */
 .footer {
  background-color: #E7F7FF;
  color: black;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .footer {
    display: block;
  }
}
/* foot img style */
@media only screen and (max-width: 400px) {
    .footer-img {
      width: 250px;
      margin-left: 15px;
margin-right: 15px;
    }
    footer {
        width: 100px;
    }
  }


 .foot-img {
  margin-bottom: 10px;
  height: 200px;
  width: 84%;
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: beige;
 }